* {
  font-family: Noto Sans;
}
.timer-input {
  background: white;
  color: black;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  width: max-content;
  margin: 1rem;
}
.timer-comp {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.timer-app {
  display: flex;
  flex-direction: column;
}

.timer-span {
  font-size: 20px;
}

h3 {
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
}

.interval-select {
  background: white;
  color: black;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  width: max-content;
  margin: 1rem;
}
.show-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-data-chart {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
